<form class="px-4 py-3">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="email@example.com">
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Interno</label>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="dropdownCheck">
      <label class="form-check-label" for="dropdownCheck">
        Externo
      </label>
    </div>
  </div>
</form>

<button type="submit" class="btn btn-dark">Entrar</button>

<div class="dropdown-divider"></div>

<a class="dropdown-item" [routerLink]="['/login/password']">¿Olvidaste la contraseña?</a>

<router-outlet></router-outlet>
