<div class="card-group">

<div class="card" style="width: 18rem;">
  <img src="/assets/person-add.svg" class="card-img-top" alt="..." width="50" height="50">
  <div class="card-body">
    <h5 class="card-title">Registrar Interno</h5>
    <p class="card-text">Registrar a nuevos trabajadores.</p>
    <a [routerLink]="['/registrar/interno']" class="btn btn-dark">Nuevo</a>
  </div>
</div>

  <div class="card" style="width: 18rem;">
    <img src="/assets/person-add.svg" class="card-img-top" alt="..." width="50" height="50">
    <div class="card-body">
      <h5 class="card-title">Registrar nuevo visitante</h5>
      <p class="card-text">Registro de visitantes sin previa cita.</p>
      <a href="#" class="btn btn-dark">Nuevo</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/assets/sidebar.svg" class="card-img-top" alt="..." width="50" height="50">
    <div class="card-body">
      <h5 class="card-title">Ver registro de visitas</h5>
      <p class="card-text">Lista de visitantes.</p>
      <a href="#" class="btn btn-dark">ver</a>
    </div>
  </div>

</div>
